<section class="container text-center my-5 w-50">
  <h1 class="text-center my-2">Formulario de registro para anunciar un concierto</h1>
  <div> 
  <p class="text-center my-5">Para crear tu formulario no olvides rellenar todos los campos y anunciar tu post.</p>
    </div>
</section>


<form action="/anunciaTuConciertoForm" method="post">

<div class="d-flex flex-column justify-content-center align-content-center align-items-center w-100 my-5">
    <div data-mdb-input-init class="form-outline mb-4 w-75">
      <input type="text" id="name" name="name" class="form-control {{#if errors.name}}is-invalid{{/if}}"/>
      <label class="form-label" for="name">Nombre de la banda*</label>
      {{#if errors.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}
    </div>

    <div data-mdb-input-init class="form-outline mb-4 w-75">
      <textarea class="form-control {{#if errors.descriptionGenre}}is-invalid{{/if}}" id="descriptionGenre" name="descriptionGenre" rows="4"></textarea>
      <label class="form-label" for="descriptionGenre">Descripción del evento*</label>
      {{#if errors.descriptionGenre}}<div class="invalid-feedback">{{errors.descriptionGenre}}</div>{{/if}}
    </div>

    <div data-mdb-input-init class="form-outline mb-4 w-75">
      <input type="text" id="photo" name="photo" class="form-control {{#if errors.photo}}is-invalid{{/if}}" placeholder="https://media.emisorasmusicales.net/wp-content/uploads/2023/12/13181114/MC24-POSTER-emisoras-musicales-2023-819x1024.webp"/>
      <label class="form-label" for="photo">Flyer*</label>
      {{#if errors.photo}}<div class="invalid-feedback">{{errors.photo}}</div>{{/if}}
    </div>

    <div data-mdb-input-init class="form-outline mb-4 w-75">
      <input type="text" id="location" name="location" class="form-control {{#if errors.location}}is-invalid{{/if}}"/>
      <label class="form-label" for="location">Ubicación*</label>
      {{#if errors.location}}<div class="invalid-feedback">{{errors.location}}</div>{{/if}}
    </div>

    <div class="d-flex flex-column w-25">
      <div data-mdb-input-init class="form-outline">
        <input type="datetime-local" id="date" name="date" class="form-control {{#if errors.date}}is-invalid{{/if}}" />
        <label class="form-label" for="date">Fecha del concierto*</label>
        {{#if errors.date}}<div class="invalid-feedback">{{errors.date}}</div>{{/if}}
      </div>
    </div>

    <!-- Submit button -->
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4 w-25 fs-5">Anunciar!<i class="bi bi-music-note"></i></button>

  </div>
</form>

<a href="/anunciatuconcierto" class="btn btn-outline-info text-white fs-5 my-5">Volver</a>
