<h1>ver los post de bandjam</h1>

  <h1>{{postBand.bandName}}</h1>
  <h5>género: {{postBand.musicalGenre}}</h5>
  <p>Integrantes: {{postBand.numberOfMembers}}</p>

  {{#each postBand}}
    {{#theUserIsTheCreator ../currentUser creator}}
      <a href="/bandjam/{{_id}}/edit">Editar</a>
      <form action="/bandjam/{{_id}}/delete" method="post">
        <button type="submit" class="btn btn-primary btn-block mb-4">Eliminar</button>
      </form>
    {{/theUserIsTheCreator}}
  {{/each}}

  {{#each messages}}
    <div>
      <p>Usuario: {{owner.userName}}</p>
      <p>Mensaje: {{text}}</p>
    </div>
    {{#theUserIsTheCreator ../currentUser owner._id}}
      <a href="/message/{{id}}/edit"><i class="bi bi-pencil"></i></a>
      <form action="/message/{{id}}/delete" method="post" id="deleteForm">
        <button type="button" class="btn btn-outline-dark border-0" onclick="seguro()"><i class="fas fa-xmark"></i></button>
      </form>
    {{/theUserIsTheCreator}}
  {{/each}}

<form action="/message/{{postBand.id}}/message" method="post">
  <input type="hidden" name="postType" value="Bandjam">
  <input type="hidden" name="post" value="{{postBand.id}}">
  
  <div class="mb-1 {{#if errors.description }}is-invalid{{/if}}">
    <textarea name="text" id="description-md" class="{{#if errors.description }}is-invalid{{/if}}"></textarea>
    {{#if errors.description }}<div class="invalid-feedback">{{errors.description}}</div>{{/if}}
  </div>
  
  <div class="form-actions mt-2">
    <button type="submit" class="btn btn-outline-primary">Enviar</button>
  </div>
</form>

<script>
  window.addEventListener('load', () => new SimpleMDE({ element: document.getElementById('description-md') }))

  function seguro() {
    Swal.fire({
    title: "¿Estás seguro/a?",
    text: "¡No serás capaz de revertir este cambio!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "¡Sí, borrar!"
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: "¡Mensaje borrado!",
        text: "El mensaje ha sido eliminado",
        icon: "success"
      });
      document.getElementById("deleteForm").submit();
    }
  });
  }
</script>