

  <h1>{{postBand.bandName}}</h1>
  <h5>género: {{postBand.musicalGenre}}</h5>
  <p>Integrantes: {{postBand.numberOfMembers}}</p>

  {{#each postBand}}
    {{#theUserIsTheCreator ../currentUser creator}}
      <a href="/bandjam/{{_id}}/edit">Editar</a>
      <form action="/bandjam/{{_id}}/delete" method="post">
        <button type="submit" class="btn btn-primary btn-block mb-4">Eliminar</button>
      </form>
    {{/theUserIsTheCreator}}
  {{/each}}