<section class="container text-center my-5 w-50">
  <h1 class="text-center my-2">Más detalles del post</h1>
</section>

<section class="mx-auto border border-white w-75">

  <div class="row my-3">
    <div class="col text-center">
      <h3 class="card-title">{{ postBand.name}}</h3>  
    </div>
  </div>

  <div class="row my-2">
    <div class="col text-center">
      <h4 class="card-title">{{postBand.lookingfor}}</h4>  
    </div>
  </div>

  <div class="row my-2">
    <div class="col d-flex flex-column justify-content-center align-items-center w-25">
      <p class="fs-5">Hacemos/hago {{ postBand.musicalGenre}}, Somos/soy de {{postBand.location}} y tocamos/toco:</p>
      <ul class="list-unstyled d-flex">
        {{#each postBand.instruments}}
          <li class="fs-5">{{#unless @last}}{{this}}, &nbsp{{/unless}} {{#if @last}}y {{this}}.{{/if}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  
  {{#theUserIsTheCreator currentUser._id postBand.creator._id}}
    <div class="row">
      <div class="col d-flex justify-content-start align-content-center">
        <a href="/formarBanda/{{postBand._id}}/edit"><i class="btn btn-primary bi bi-pencil mx-3"></i></a>
        <form action="/formarBanda/{{postBand._id}}/delete" method="post" id="deleteForm">
          <button type="button" class="btn btn-danger" onclick="seguro()"><i class="bi bi-x-lg"></i></button>
        </form>
      </div>
    </div>
  {{/theUserIsTheCreator}}
  

</section>

<section>
  <h5 class="text-center mt-5">COMENTARIOS DE LOS USUARIOS</h5>
</section>

<section class="d-flex flex-column justify-content-center  align-items-center">
  {{#each messages}}
    <div class="card text-bg-dark w-75 my-2">
      <div class="card-header">
        Usuario: {{owner.userName}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark mt-1">
          <div class="d-flex justify-content-between align-items-center">
            <p>Mensaje: {{text}}</p>
            {{#theUserIsTheCreator ../currentUser._id owner._id}}
              <div class="d-flex justify-content-center align-content-center">            
                <a href="/message/{{id}}/edit"><i class="btn btn-primary bi bi-pencil mx-3"></i></a>
                <form action="/message/{{id}}/delete" method="post" id="deleteFormMessage">
                  <button type="button" class="btn btn-danger" onclick="seguroMessage()"><i class="bi bi-x-lg"></i></button>
                </form>
              </div>
            {{/theUserIsTheCreator}}
          </div>
        </li>
      </ul>
    </div>
  {{/each}}
</section>


  <form action="/message/{{postBand.id}}/message" method="post" class="markdown-form mt-5">
  <input type="hidden" name="postType" value="Formarbanda">
  <input type="hidden" name="post" value="{{postBand.id}}">
  
  <div class="mb-1 {{#if errors.description }}is-invalid{{/if}}">
    <textarea name="text" id="description-md" class="{{#if errors.description }}is-invalid{{/if}}"></textarea>
    {{#if errors.description }}<div class="invalid-feedback">{{errors.description}}</div>{{/if}}
  </div>
  
  <div class="form-actions mt-2">
    <button type="submit" class="btn btn-outline-primary text-white fs-5 ">Enviar</button>
  </div>
</form>

<a href="/formarbanda" class="btn btn-outline-info text-white fs-5 my-5">Volver</a>

<script>
  window.addEventListener('load', () => new SimpleMDE({ element: document.getElementById('description-md') }))
  
  function seguro() {
    Swal.fire({
    title: "¿Estás seguro/a?",
    text: "¡No serás capaz de revertir este cambio!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "¡Sí, borrar!"
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: "¡Mensaje borrado!",
        text: "El mensaje ha sido eliminado",
        icon: "success"
      });
      document.getElementById("deleteForm").submit();
    }
  });
  }

  function seguroMessage() {
    Swal.fire({
    title: "¿Estás seguro/a?",
    text: "¡No serás capaz de revertir este cambio!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "¡Sí, borrar!"
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: "¡Mensaje borrado!",
        text: "El mensaje ha sido eliminado",
        icon: "success"
      });
      document.getElementById("deleteFormMessage").submit();
    }
  });
  }

</script>