
<h1>Editar post de Band-Jam</h1>
<form action="/bandjam/{{bandjam.id}}/edit" method="post">
  <!-- 2 column grid layout with text inputs for the first and last names -->

  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="bandName" name="bandName" class="form-control" value="{{bandjam.bandName}}" />
    <label class="form-label" for="bandName">Nombre de la banda</label>
  </div>

  <div class="form-group mb-2">
    <label for="musicalGenre" class="form-label">Género musical</label>
    <select name="musicalGenre" id="musicalGenre" >

      {{#each genre}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <div data-mdb-input-init class="form-outline mb-4">
    <select class="form-select" name="instruments" multiple aria-label="Multiple select example">
      {{#each inst}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <label class="form-label" for="instruments">Instrumentos</label>
  </div>

  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="number" id="numberOfMembers" name="numberOfMembers" value="{{bandjam.numberOfMembers}}" class="form-control" />
    <label class="form-label" for="numberOfMembers">Número de integrantes</label>
  </div>

  <!-- Number input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="location" name="location" class="form-control" value="{{bandjam.location}}" />
    <label class="form-label" for="location">Ubicación</label>
  </div>

  <!-- Message input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <textarea class="form-control" id="lookingfor" name="lookingfor" rows="4">{{bandjam.lookingfor}}</textarea>
    <label class="form-label" for="lookingfor">Cuéntanos, ¿qué estás buscando?</label>
  </div>

  <!-- Submit button -->
  <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Editar <i class="bi bi-pencil"></i></button>
</form>

