<h1 class="my-5">Anuncia tu concierto</h1>
<a class="btn btn-success" href="/anunciaTuConciertoForm">Crea un post</a>

{{#each postBand}}
  <h1>{{name}}</h1>
  <h5>descripción: {{descriptionGenre}}</h5>
  <p>locación: {{location}}</p>
  <p>date: {{date}}</p>
  <a href="/anunciatuconcierto/{{id}}/details">Detalles</a>
  <a href="/anunciatuconcierto/{{id}}/edit" class="btn btn-primary">Editar</a>
  <form action="/anunciatuconcierto/{{id}}/delete" method="post" id="deleteForm">
    <button type="button" class="btn btn-danger" onclick="seguro()">Eliminar</button>
  </form>
{{/each}}

<script>
  function seguro() {
    Swal.fire({
    title: "¿Estás seguro/a?",
    text: "¡No serás capaz de revertir este cambio!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "¡Sí, borrar!"
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: "¡Post borrado!",
        text: "El post ha sido eliminado",
        icon: "success"
      });
      document.getElementById("deleteForm").submit();
    }
  });
  }
</script>