<h1 class="my-5">Anuncia tu concierto</h1>
<a class="btn btn-success" href="/anunciaTuConciertoForm">Crea un post</a>

{{#each postBand}}
  <h1>{{name}}</h1>
  <h5>descripción: {{descriptionGenre}}</h5>
  <p>locación: {{location}}</p>
  <p>date: {{date}}</p>
  <a href="/anunciatuconcierto/{{id}}/details">Detalles</a>
{{/each}}