<h1 class="my-5">Formar banda</h1>
<a class="btn btn-success" href="/formarBandaForm">Crea un post</a>

{{#each postBand}}
  <h1>{{name}}</h1>
  <h5>género: {{musicalGenre}}</h5>
  <h5>instrumentos: {{instruments}}</h5>
  <p>localización: {{location}}</p>
  <p>descripción: {{lookingfor}}</p>
  <a href="/formarBanda/{{id}}/details">Detalles</a>
{{/each}}