<h1>Mi perfil</h1>

<p></p>
{{currentUser.userName}}
{{currentUser.name}}
{{currentUser.email}}
{{currentUser.gender}}
{{currentUser.photo}}
<ul>
{{#each currentUser.instruments}}
  <li>{{this}}</li>
{{/each}}
</ul>
{{currentUser.description}}
{{currentUser.location}}
{{currentUser.socialMedia}}


{{#each bands}}
  {{#userIsInTheBand ../currentUser this}}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src={{photo}} class="card-img-top" alt="band photo">
        <h5 class="card-title">{{name}}</h5>
        <p>Genre: {{musicalGenre}}</p>
        <p>Members:</p>
        <ul class="list-unstyled">
          {{#each members}}
            <div class="d-flex justify-content-between">
              <li class="text-decoration-none">{{this.name}}</li>
              <ul class="list-unstyled">
                {{#each this.instruments}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
              {{#thisIsTheUser ../../currentUser this}}
                <a href="/user/{{this.id}}/removeMember?bandId={{../../_id}}"><i class="fas fa-user-times" style="color: red;"></i></a>
              {{else}}
                {{#isAdministratorInTheBand ../administrator ../../currentUser}}
                  <a href="/user/{{this.id}}/removeMember?bandId={{../../_id}}"><i class="fas fa-user-times" style="color: red;"></i></a>
                {{/isAdministratorInTheBand}}
              {{/thisIsTheUser}}
            </div>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/userIsInTheBand}}
{{/each}}


{{!-- PARA HACER EL PENDINGMEMBERS --}}
<section class="mt-5">
  <div class="d-flex flex-column align-content-center align-items-center">
    <h5>Solicitudes de miembros pendientes de aceptar en las bandas</h5>
    <hr class="w-50">
  </div>

  <table class="table align-middle mb-0 bg-white mt-2 mb-5">
    <thead class="bg-light">
      <tr>
        <th>Nombre</th>
        <th>Instrumento/s</th>
        <th>Banda</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      {{#each bands}}
        {{#each pendingMembers}}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="{{photo}}"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{name}}</p>
                  <p class="text-muted mb-0">{{email}}</p>
                </div>
              </div>
            </td>
            <td>
              <ul class="list-unstyled d-flex flex-wrap justify-content-start align-content-center"> 
                {{#each instruments}}
                  <li class="me-2">{{this}}</li>
                {{/each}}
              </ul>
            </td>
            <td>{{../name}}</td>
            <td>
              <div class="d-flex justify-content-center align-content-center">
                <form action="/pendingMembers/{{this.id}}/accept?bandId={{../_id}}" method="post"><button class="btn btn-primary me-2" type="submit"><i class="fas fa-check"></i></button></form>
                <form action="/pendingMembers/{{this.id}}/decline?bandId={{../_id}}" method="post"><button class="btn btn-danger" type="submit"><i class="fas fa-xmark"></i></button></form>
              </div>
            </td>
          </tr>
        {{/each}}  
      {{/each}}
    </tbody>
  </table>
</section>     

<div class="d-flex justify-content-center align-content-center my-5">
  <a href="/user/{{currentUser.id}}/edit" class="btn btn-outline-success me-2">Editar perfil</a>
  <form action="/user/{{currentUser.id}}/delete" method="post" id="deleteForm">
    <button type="button" class="btn btn-outline-danger" onclick="seguro()">Eliminar perfil</button>
  </form>
</div>

<script>
  function seguro() {
    Swal.fire({
    title: "¿Estás seguro/a?",
    text: "¡No serás capaz de revertir este cambio!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "¡Sí, borrar!"
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: "¡Usuario borrado!",
        text: "El usuario ha sido eliminado",
        icon: "success"
      });
      document.getElementById("deleteForm").submit();
    }
  });
  }
</script>