<h2>PONER AQUÍ VARIAS CARDS DE BANDAS POR GENEROS</h2>


<section class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
  {{#each genre}}
    {{#matchGenre this ../bands}}
      <h2>{{this.[0].musicalGenre}}:</h2>
      {{#each this}}
      <div class="col mb-5">
        <div class="card" style="width: 18rem;">
          <img src={{photo}} class="card-img-top" alt="band image">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{biography}}</p>
            <a href="/band/{{id}}/detail" class="btn btn-primary">ver mas</a>
          </div>
        </div>
      </div>
      {{/each}}
    {{else}}
      <h2>{{this}}:</h2>
    {{/matchGenre}}
  {{/each}}
</section>
