
<img src="{{band.photo}}" alt="band image">
<h2>{{band.name}}</h2>
<h4>Biografía:</h4>
<p>{{band.biography}}</p>

<h4>Integrantes:</h4>
<ul>
  {{#each band.members}}
    <li>{{this.name}}</li>
    <li>{{this.description}}</li>
  {{/each}}
</ul>


<a href="/band/{{band.id}}/edit" class="btn btn-primary">Editar</a>
<form action="/band/{{band.id}}/delete" method="post" id="deleteForm">
  <button type="button" class="btn btn-danger" onclick="seguro()">Eliminar</button>
</form>

{{#if currentUser}}
  {{#userIsInTheBand currentUser band}}
    <p>Estas en la banda</p>
  {{else}}
    {{#registerPending currentUser band}}
      <p>Solicitud enviada</p>
    {{else}}
      <form action="/joinBand/{{band.id}}" method="post">
        <button class="btn btn-primary">Unirme a banda</button>
      </form>
    {{/registerPending}}
  {{/userIsInTheBand}}
{{/if}}

{{!-- <p>Rating: {{average}}</p> --}}
<p>Rating: {{band.rating}}</p>


{{#if currentUser}}
  {{#if result.users.length}}
    {{#userVote currentUser result.users}}
      <p>Gracias por votar!</p>
    {{else}}  
      <form id="rating-form" action="/rating" method="post">
        <div class="rating">
          <input type="hidden" name="users" value="{{currentUser.id}}">
          <input type="hidden" name="band" value="{{band.id}}">
          <span class="rating__result"></span>
          <input type="hidden" name="rating" id="rating-value" value="0"> <!-- Campo de entrada oculto para enviar el valor de la calificación -->
          <i class="rating__star far fa-star" data-value="1"></i> <!-- Primera estrella -->
          <i class="rating__star far fa-star" data-value="2"></i> <!-- Segunda estrella -->
          <i class="rating__star far fa-star" data-value="3"></i> <!-- Tercera estrella -->
          <i class="rating__star far fa-star" data-value="4"></i> <!-- Cuarta estrella -->
          <i class="rating__star far fa-star" data-value="5"></i> <!-- Quinta estrella -->
        </div>
      </form>
    {{/userVote}}
  {{else}}
    <form id="rating-form" action="/rating" method="post">
      <div class="rating">
        <input type="hidden" name="users" value="{{currentUser.id}}">
        <input type="hidden" name="band" value="{{band.id}}">
        <span class="rating__result"></span>
        <input type="hidden" name="rating" id="rating-value" value="0"> <!-- Campo de entrada oculto para enviar el valor de la calificación -->
        <i class="rating__star far fa-star" data-value="1"></i> <!-- Primera estrella -->
        <i class="rating__star far fa-star" data-value="2"></i> <!-- Segunda estrella -->
        <i class="rating__star far fa-star" data-value="3"></i> <!-- Tercera estrella -->
        <i class="rating__star far fa-star" data-value="4"></i> <!-- Cuarta estrella -->
        <i class="rating__star far fa-star" data-value="5"></i> <!-- Quinta estrella -->
      </div>
    </form>
  {{/if}}
{{/if}}


<script>
  const ratingStars = [...document.getElementsByClassName("rating__star")];
  const ratingResult = document.querySelector(".rating__result");

  printRatingResult(ratingResult);

  function executeRating(stars, result) {
    const starClassActive = "rating__star fas fa-star";
    const starClassUnactive = "rating__star far fa-star";
    const starsLength = stars.length;
    let i;
    stars.map((star) => {
        star.onclick = () => {
          i = stars.indexOf(star);

          if (star.className.indexOf(starClassUnactive) !== -1) {
              printRatingResult(result, i + 1);
              for (i; i >= 0; --i) stars[i].className = starClassActive;
          } else {
              printRatingResult(result, i);
              for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
          }
        };
    });
  }

  function printRatingResult(result, num = 0) {
    result.textContent = `${num}/5`;
  }

  executeRating(ratingStars, ratingResult);


  function seguro() {
    Swal.fire({
    title: "¿Estás seguro/a?",
    text: "¡No serás capaz de revertir este cambio!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "¡Sí, borrar!"
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: "¡Post borrado!",
        text: "El post ha sido eliminado",
        icon: "success"
      });
      document.getElementById("deleteForm").submit();
    }
  });
  }


  document.addEventListener("DOMContentLoaded", function() {
    const ratingStars = document.querySelectorAll('.rating__star');
    const ratingValue = document.getElementById('rating-value');
    const ratingForm = document.getElementById('rating-form');

    ratingStars.forEach(star => {
      star.addEventListener('click', function() {
        const value = parseInt(star.getAttribute('data-value'));
        ratingValue.value = value;
        // Envía el formulario al hacer clic en la estrella
        ratingForm.submit();
      });
    });
  });

</script>