<section class="container text-center my-5 w-50">
  <h1 class="text-center my-2">NUESTRAS BANDAS MUSICALES</h1>
</section>

<section class="mx-auto border border-white my-5">
  <div class="d-flex flex-wrap justify-content-center align-content-center">
    {{#each genre}}
      <a class="text-decoration-none fs-5 text-white me-2" href="#{{this}}"><u>{{this}}</u></a>
    {{/each}}
  </div>
</section>



<h1>Rock</h1>
<section id="Rock" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Rock"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>


<h1>Pop</h1>
<section id="Pop" class="d-flex flex-wrap justify-content-center align-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Pop"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>


<h1>Indie</h1>
<section id="Indie" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Indie"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>


<h1>Hip Hop</h1>
<section id="Hip Hop" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Hip Hop"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Jazz</h1>
<section id="Jazz" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Jazz"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Blues</h1>
<section id="Blues" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Blues"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Reggae</h1>
<section id="Reggae" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Reggae"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>R&B</h1>
<section id="R&B" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "R&B"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Country</h1>
<section id="Country" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Country"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Electrónica</h2>
<section id="Electrónica" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Electrónica"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Folk</h2>
<section id="Folk" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Folk"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Metal</h2>
<section id="Metal" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Metal"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Punk</h2>
<section id="Punk" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Punk"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Clásica</h2>
<section id="Clásica" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Clásica"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Soul</h2>
<section id="Soul" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Soul"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Funk</h2>
<section id="Funk" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Funk"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Gospel</h2>
<section id="Gospel" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Gospel"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Salsa</h2>
<section id="Salsa" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Salsa"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Reggaeton</h2>
<section id="Reggaeton" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Reggaeton"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h2>Alternativa</h2>
<section id="Alternativa" class="d-flex flex-wrap justify-content-center align-items-center">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Alternativa"}}
      <div class="card my-3 me-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{photo}}" class="img-fluid h-100 rounded-start" alt="band image">
          </div>
          <div class="col-md-8 text-bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{biography}}</p>
              <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>
