<section class="container text-center my-5 w-50">
  <h1 class="text-center my-2">Más detalles de la banda</h1>
</section>

<section class="mx-auto border border-white w-75">

  <div class="row my-3">
    <div class="col text-center">
      <img src="{{band.photo}}" alt="band photo" style="height: 500px;">
    </div>
  </div>

  <div class="row my-2">
    <div class="col text-center">
      <h2 class="card-title">{{band.name}}</h2>   
    </div>
  </div>
 
  <div class="row my-2 mx-auto d-flex justify-content-between align-items-center w-50">
    <div class="col text-center">  
      <h5 class="card-title"><u>Integrantes del grupo</u></h5>  
      <ul class="list-unstyled">
        {{#each band.members}}
          <li class="fs-5">{{this.name}}</li>
          <li class="fs-5">{{this.instruments}} &nbsp</li>
        {{/each}}
      </ul>
    </div>

    <div class="col">
      <p class="card-title">Ubicación: {{band.location}}</p>
      <p>Biografía: {{band.biography}}</p>        
    </div>
  </div>

  <div class="row my-2">
    <div class="col text-center">
      <ul class="list-unstyled">
        {{#each band.socialMedia}}
          <a href="{{this}}" class="text-white fs-5">{{this}}&nbsp</a>
        {{/each}}
      </ul>
    </div>
  </div>
  

  {{#if currentUser}}
    <div class="d-flex justify-content-center align-content-center align-items-center mb-3"> 
      {{#theUserIsTheCreator currentUser._id band.administrator._id}}
        <a href="/band/{{band.id}}/edit" class="btn btn-primary ms-2"><i class="bi bi-pencil"></i></a>
        <form action="/band/{{band.id}}/delete" method="post" id="deleteForm">
          <button type="button" class="btn btn-danger ms-2" onclick="seguro()"><i class="bi bi-x-lg"></i></button>
        </form>
      {{/theUserIsTheCreator}}
    </div>
  {{/if}}
</section>
 

{{!-- UNIRSE A LA BANDA --}}
<section class="d-flex justify-content-center align-content-center align-items-center my-5 fs-5">
  {{#if currentUser}}
    {{#userIsInTheBand currentUser band}}
      <p>Ya perteneces a esta banda</p>
    {{else}}
      {{#registerPending currentUser band}}
        <p>Solicitud enviada al grupo</p>
      {{else}}
        <form action="/joinBand/{{band.id}}" method="post">
          <button class="btn btn-info btn-lg">Unirme a banda</button>
        </form>
      {{/registerPending}}
    {{/userIsInTheBand}}
  {{/if}}
</section>
{{!-- /UNIRSE A LA BANDA --}}


{{!-- STARS --}}
{{!-- <p>Rating: {{average}}</p> --}}
<section class="d-flex my-6 ms-1 fs-5"> 
  <p>RANKING DE PUNTUACIÓN: {{band.rating}}</p>
</section> 
<section>
  {{#if currentUser}}
    {{#if result.users.length}}
      {{#userVote currentUser result.users}}
        <p>¡Gracias por votar!</p>
      {{else}}  
        <form id="rating-form" action="/rating" method="post">
          <div class="rating">
            <input type="hidden" name="users" value="{{currentUser.id}}">
            <input type="hidden" name="band" value="{{band.id}}">
            <span class="rating__result"></span>
            <input type="hidden" name="rating" id="rating-value" value="0"> <!-- Campo de entrada oculto para enviar el valor de la calificación -->
            <i class="rating__star far fa-star" data-value="1"></i> <!-- Primera estrella -->
            <i class="rating__star far fa-star" data-value="2"></i> <!-- Segunda estrella -->
            <i class="rating__star far fa-star" data-value="3"></i> <!-- Tercera estrella -->
            <i class="rating__star far fa-star" data-value="4"></i> <!-- Cuarta estrella -->
            <i class="rating__star far fa-star" data-value="5"></i> <!-- Quinta estrella -->
          </div>
        </form>
      {{/userVote}}
    {{else}}
      <form id="rating-form" action="/rating" method="post">
        <div class="rating">
          <input type="hidden" name="users" value="{{currentUser.id}}">
          <input type="hidden" name="band" value="{{band.id}}">
          <span class="rating__result"></span>
          <input type="hidden" name="rating" id="rating-value" value="0"> <!-- Campo de entrada oculto para enviar el valor de la calificación -->
          <i class="rating__star far fa-star" data-value="1"></i> <!-- Primera estrella -->
          <i class="rating__star far fa-star" data-value="2"></i> <!-- Segunda estrella -->
          <i class="rating__star far fa-star" data-value="3"></i> <!-- Tercera estrella -->
          <i class="rating__star far fa-star" data-value="4"></i> <!-- Cuarta estrella -->
          <i class="rating__star far fa-star" data-value="5"></i> <!-- Quinta estrella -->
        </div>
      </form>
    {{/if}}
  {{/if}}
</section>
{{!-- /STARS --}}



<a href="/bands" class="btn btn-outline-info text-white fs-5 my-5">Volver</a>



<script>
  const ratingStars = [...document.getElementsByClassName("rating__star")];
  const ratingResult = document.querySelector(".rating__result");

  printRatingResult(ratingResult);

  function executeRating(stars, result) {
    const starClassActive = "rating__star fas fa-star";
    const starClassUnactive = "rating__star far fa-star";
    const starsLength = stars.length;
    let i;
    stars.map((star) => {
        star.onclick = () => {
          i = stars.indexOf(star);

          if (star.className.indexOf(starClassUnactive) !== -1) {
              printRatingResult(result, i + 1);
              for (i; i >= 0; --i) stars[i].className = starClassActive;
          } else {
              printRatingResult(result, i);
              for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
          }
        };
    });
  }

  function printRatingResult(result, num = 0) {
    result.textContent = `${num}/5`;
  }

  executeRating(ratingStars, ratingResult);


  function seguro() {
    Swal.fire({
    title: "¿Estás seguro/a?",
    text: "¡No serás capaz de revertir este cambio!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "¡Sí, borrar!"
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: "¡Post borrado!",
        text: "El post ha sido eliminado",
        icon: "success"
      });
      document.getElementById("deleteForm").submit();
    }
  });
  }


  document.addEventListener("DOMContentLoaded", function() {
    const ratingStars = document.querySelectorAll('.rating__star');
    const ratingValue = document.getElementById('rating-value');
    const ratingForm = document.getElementById('rating-form');

    ratingStars.forEach(star => {
      star.addEventListener('click', function() {
        const value = parseInt(star.getAttribute('data-value'));
        ratingValue.value = value;
        // Envía el formulario al hacer clic en la estrella
        ratingForm.submit();
      });
    });
  });

</script>