<h2>PONER AQUÍ VARIAS CARDS DE BANDAS POR GENEROS</h2>

<h1>Rock</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Rock"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Pop</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Pop"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Indie</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Indie"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Hip Hop</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Hip Hop"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Jazz</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Jazz"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Blues</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Blues"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Reggae</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Reggae"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>R&B</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "R&B"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Country</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Country"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Electrónica</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Electrónica"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Folk</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Folk"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Metal</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Metal"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Punk</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Punk"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Clásica</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Clásica"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Soul</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Soul"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Funk</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Funk"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Gospel</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Gospel"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Salsa</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Salsa"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Reggaeton</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Reggaeton"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>

<h1>Alternativa</h1>
<section class="d-flex">
  {{#each bands}}
    {{#musicalMatch musicalGenre "Alternativa"}}
      <div class="card" style="width: 18rem;">
        <img src={{photo}} class="card-img-top" alt="band image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    {{/musicalMatch}}
  {{/each}}
</section>



{{!-- 
<section class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
  {{#each genre}}
    {{#matchGenre this ../bands}}
      <h2>{{this.[0].musicalGenre}}:</h2>
      {{#each this}}
      <div class="col mb-5">
        <div class="card" style="width: 18rem;">
          <img src={{photo}} class="card-img-top" alt="band image">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{biography}}</p>
            <a href="/band/{{id}}/detail" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
      {{/each}}
    {{else}}
      <h2>{{this}}:</h2>
    {{/matchGenre}}
  {{/each}}
</section> --}}
